body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fdfdfd;
  height: 100vh;
}

#trans_button {
    width: 100%;
}

.margin15 {
    margin-left: 10px;
}

.container {
    /* margin: 20px; */
}

.approuter {
    margin: 20px;
}

#headerkinda {
    margin-bottom: 20px;
    text-align: center;
}

.mybox {
    padding: 0.85rem;
}

.loading {
    filter: blur(5px);
    font-size: 12px;
    animation: pulse .5s infinite;
}

.loadingButton {
    text-align: center;
}

.is-center {
    margin: 5px auto;
    text-align: center;
}

.custom-header-body {
    padding: 1.5rem .3rem;
}

input:active, input:focus, select:focus, select:active {
    border-color: #59CEB3 !important;
    box-shadow: none !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #59CEB3 !important;
}

#verifying {
    margin-bottom: 20px;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}